<%= form_for current_user, :url => change_password_profile_path(current_user), :method => "PUT" do |f| %>
<p>Leave blank if you don't want to change the current password</p>
  <p>
	 New password:	<%= f.password_field :password , class: "form-control" %>	
  </p>
  <p>
	 Confirm Password:	<%= f.password_field :password_confirmation , class: "form-control" %>	
  </p>

  <%= f.submit "Update Password"%>
<% end %>