<div class="grid_4">
<%= form_tag guest_orders_admin_orders_path, :method => 'get', :id => "guest_orders_search" do %>
  <p>
    <%= text_field_tag :search, params[:search], :placeholder => "Search By Order Id" %>
    <%= submit_tag "Search", :id => nil %>
  </p>
<% end %>
<% unless @orders.empty? %>
    <div id="products"><%= render :partial => 'guest_orders' %></div>
<script type="text/javascript">
$(function() {
  $("#guest_orders th a, #guest_orders .pagination a").live("click", function() {
    $.getScript(this.href);
    return false;
  });
  $("#guest_orders_search input").keyup(function() {
    $.get($("#guest_orders_search").attr("action"), $("#guest_orders_search").serialize(), null, "script");
    return false;
  });
});
</script>
<% else %>
<h4> Invalid Order Id. </h4>
<% end %>
</div>