<div class="box-categories box-featurE clearfix">
  <h4>Featured Products</h4>
  <ul class="list-product">
    <% if @featured.present? %>
      <% @featured.each do |product| %>
        <li>
          <div class="frow frow-product">
            <div>
              <%= link_to image_tag(product.images.present? ? (product.images.first.avatar.url(:original)) : "/assets/missing.png", height: "50px", width: "50px"),single_product_home_path(product.id) %>
            </div>
            <div>
              <h5><%=link_to product.name, single_product_home_path(product.id)%></h5>
              <h2><%= product.price %></h2>
              <br/>
            </div>
          </div>
        </li>
      <% end %>
    <%else%>
      <li>
        Coming Soon!!!!!
      </li>
    <% end %>
  </ul>
</div>