<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  
<h2>Hello Admin,</h2>

<p>Some one with following information has registered on your  Rosara site newsletter. </p>

<p><b>Name:</b> <%= @news_letter.name %></p>
<p><b>Email:</b>  <%= @news_letter.email %></p>
<br/>
<p>Thanks</p>
<p>Team Rosara.in </p>
  </body>
</html>
