<ul class="nav">
   <% Category.where("name is not null and category_show = #{true}").includes(:sub_categories).each do |cat| %>
    <li>
        <!-- <a href="#"><%#= cat.name %></a> -->
        <%= link_to "#{cat.name}", home_path(:id => cat.id, :param1 => 'parent') %>

        <% @subCategories = cat.sub_categories %>
        <% if @subCategories.present? %>
            <div class="menu_sub">
            <% @subCategories.in_groups_of(5).each do |subCatGroup| %>
                    <div class="nav-column" >
                <% subCatGroup.each do |subCat| %>
                    <% unless subCat.blank? %>
                    <ul>
                        <li>
                            <%= link_to subCat.name, home_path(subCat), :class => "subcat", :title => "#{subCat.try(:name)}" %>
                        </li>  
                    </ul>
                <% end %>
                <% end %>
                </div>            
            <% end %>             
            </div>
        <% end %>
    </li>     
<% end %>   
</ul> 


 
<style>
       .nav {
    position: relative;
    cursor: default;
    margin: 0px;
    display: table;
    width: auto !important;
    }
    .nav li:last-child a {
    border-right: 0px none;
    border-radius: 0px 3px 3px 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    /*width: auto !important;*/
}

    @media(max-width:320px){


   }
</style>
